<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta http-equiv="Expires" content="-1">
<meta http-equiv="Cache-Control" content="no-cache">
<meta http-equiv="Pragma" content="no-cache">
<meta charset="utf-8">
<title>安徽省电子商务公共服务平台</title>
<meta name="keywords" content="安徽省电子商务公共服务平台">
<meta name="description" content="安徽省电子商务公共服务平台">
<link href="css/style.css" rel="stylesheet"/>
<link rel="shortcut icon" type="image/x-icon" href="favicon.ico"/>
<!--[if lte IE 9]>
<script src="scripts/html5shiv.min.js"></script>
<![endif]-->
</head>
    <body>
        
        <section class="body">

            <header class="header">
                <div class="w1200 clr">
                    <a href="index.html" class="logo clr">
                        <img src="images/logo.png" width="auto" height="100%" alt="logo" class="fl">
                        <div class="text">
                            <h2>安徽省电子商务公共服务平台</h2>
                            <p>ANHUI PROVINCE-COMMERCE PUBLIC SERVICE CENTER</p>
                        </div>
                    </a>
                    <div class="menu">
                        <i></i>
                        <i></i>
                        <i></i>
                    </div>
                    <div class="nav clr">
                        <div class="nav_list nav_index">
                            <a href="index.html" class="nav_a">首页</a>
                        </div>
                        <div class="nav_list">
                            <a href="index.html?page=1" class="nav_a">示范创建</a>
                            <div class="nav_list_con">
                                <a href="service_centre.html">电商公共服务中心</a>
                                <a href="industrial_park.html">电商产业园区</a>
                                <a href="training_base.html">电商示范企业</a>
                            </div>
                        </div>
                        <div class="nav_list">
                            <a href="index.html?page=2" class="nav_a">电商服务</a>
                            <div class="nav_list_con">
                                <a href="service_list.html">金融服务</a>
                                <a href="service_list_1.html">电商代运营</a>
                                <a href="service_list_2.html">营销推广</a>
                                <a href="service_list_3.html">设计摄影</a>
                                <a href="service_list_4.html">物流服务</a>
                                <a href="service_list_5.html">IT互联网服务</a>
                            </div>
                        </div>
                        <div class="nav_list">
                            <a href="index.html?page=3" class="nav_a">电商优选</a>
                            <div class="nav_list_con">
                                <a href="recommend_list.html">电商企业</a>
                                <a href="commodity_list.html">商品展示</a>
                            </div>
                        </div>
                        <div class="nav_list">
                            <a href="index.html?page=4" class="nav_a">人才服务</a>
                            <div class="nav_list_con">
                                <a href="information_list.html">人才信息</a>
                                <a href="enterprise_list.html">企业招聘</a>
                                <a href="personnel_list.html">人才政策</a>
                            </div>
                        </div>
                        <div class="nav_list">
                            <a href="index.html?page=5" class="nav_a">课程培训</a>
                            <div class="nav_list_con">
                                <a href="curriculum_list.html">精品课程</a>
                                <a href="expert_list.html">专家智库</a>
                                <a href="mechanism_list.html">电商培训机构</a>
                            </div>
                        </div>
                    </div>
                    <div class="show_search">
                        <div class="cont">
                            <input type="text" placeholder="请输入搜索内容" />
                            <i></i>
                        </div>
                    </div>
                    <div class="search clr">
                        <a href="javascript:void(0)" class="url"></a>
                        <a href="javascript:void(0)" class="login">登录</a><em>|</em><a href="javascript:void(0)" class="register">注册</a>
                    </div>
                </div>
            </header>

            <div class="list_wrap">
                <div class="w1200 clr">
                    <div class="crumbs">
                        当前位置：<a href="index.html">首页</a> &gt; 新闻详情
                    </div>
                    <div class="news_cont">
                        <div class="news_top">
                            <h2 class="title">人民日报三问区块链：技术还不成熟 要警惕概念炒作</h2>
                            <div class="release">发布日期：2017/9/13 &nbsp; 作者：张三丰 &nbsp; 来源：今日头条</div>
                        </div>
                        <div class="content">
                            <p style="margin-top: 0px; margin-bottom: 25px; padding: 0px; text-indent: 28px; text-align: justify; word-wrap: break-word; word-break: normal; color: rgb(43, 43, 43); font-family: &quot;Microsoft Yahei&quot;; white-space: normal; background-color: rgb(255, 255, 255);">
                                <span style="font-family: 微软雅黑, &quot;Microsoft YaHei&quot;;"><strong>&nbsp; &nbsp; &nbsp; 什么是区块链？</strong></span>
                            </p>
                            <p style="margin-top: 0px; margin-bottom: 25px; padding: 0px; text-indent: 28px; text-align: justify; word-wrap: break-word; word-break: normal; color: rgb(43, 43, 43); font-family: &quot;Microsoft Yahei&quot;; white-space: normal; background-color: rgb(255, 255, 255);">
                                <span style="font-family: 微软雅黑, &quot;Microsoft YaHei&quot;;">　　<strong>一种去中心化的分布式账本数据库，没有中心，数据存储的每个节点都会同步复制整个账本，信息透明难以篡改</strong></span>
                            </p>
                            <p style="margin-top: 0px; margin-bottom: 25px; padding: 0px; text-indent: 28px; text-align: justify; word-wrap: break-word; word-break: normal; color: rgb(43, 43, 43); font-family: &quot;Microsoft Yahei&quot;; white-space: normal; background-color: rgb(255, 255, 255);">
                                <span style="font-family: 微软雅黑, &quot;Microsoft YaHei&quot;;">　　近几年，越来越多的机构开始重视并参与区块链技术研发。从最初的比特币、以太坊，到各种类型的区块链创业公司、风险投资基金、金融机构，贴上“区块链”标签，立马就“金光闪闪”。不仅如此，很多人的微信朋友圈也被各种解读区块链的文章刷屏。</span>
                            </p>
                            <p style="margin-top: 0px; margin-bottom: 25px; padding: 0px; text-indent: 28px; text-align: justify; word-wrap: break-word; word-break: normal; color: rgb(43, 43, 43); font-family: &quot;Microsoft Yahei&quot;; white-space: normal; background-color: rgb(255, 255, 255);">
                                <span style="font-family: 微软雅黑, &quot;Microsoft YaHei&quot;;">　　那么，到底什么是区块链？</span>
                            </p>
                            <p style="margin-top: 0px; margin-bottom: 25px; padding: 0px; text-indent: 28px; text-align: justify; word-wrap: break-word; word-break: normal; color: rgb(43, 43, 43); font-family: &quot;Microsoft Yahei&quot;; white-space: normal; background-color: rgb(255, 255, 255);">
                                <span style="font-family: 微软雅黑, &quot;Microsoft YaHei&quot;;">　　工信部指导发布的《中国区块链技术和应用发展白皮书2016》这样解释：广义来讲，区块链技术是利用块链式数据结构来验证与存储数据、利用分布式节点共识算法来生成和更新数据、利用密码学的方式保证数据传输和访问的安全、利用由自动化脚本代码组成的智能合约来编程和操作数据的一种全新的分布式基础架构与计算范式。</span>
                            </p>
                            <p style="margin-top: 0px; margin-bottom: 25px; padding: 0px; text-indent: 28px; text-align: justify; word-wrap: break-word; word-break: normal; color: rgb(43, 43, 43); font-family: &quot;Microsoft Yahei&quot;; white-space: normal; background-color: rgb(255, 255, 255);">
                                <span style="font-family: 微软雅黑, &quot;Microsoft YaHei&quot;;">　　</span><a href="http://finance.china.com.cn/stock/quote/sh601328/" style="text-decoration: underline; color: rgb(0, 66, 118); font-weight: bold; font-family: 微软雅黑, &quot;Microsoft YaHei&quot;;"><span style="font-family: 微软雅黑, &quot;Microsoft YaHei&quot;;">交通银行</span></a><span style="font-family: 微软雅黑, &quot;Microsoft YaHei&quot;;">(6.680, 0.04, 0.60%)金融研究中心高级研究员何飞进行了通俗解释：“简单地说，区块链就是一种去中心化的分布式账本数据库。”去中心化，即与传统中心化的方式不同，这里是没有中心，或者说人人都是中心；分布式账本数据库，意味着记载方式不只是将账本数据存储在每个节点，而且每个节点会同步共享复制整个账本的数据。同时，区块链还具有去中介化、信息透明等特点。</span>
                            </p>
                            <p style="margin-top: 0px; margin-bottom: 25px; padding: 0px; text-indent: 28px; text-align: justify; word-wrap: break-word; word-break: normal; color: rgb(43, 43, 43); font-family: &quot;Microsoft Yahei&quot;; white-space: normal; background-color: rgb(255, 255, 255);">
                                <span style="font-family: 微软雅黑, &quot;Microsoft YaHei&quot;;">　　“区块链技术本质上是一种数据库技术，具体讲就是一种账本技术。账本记录一个或多个账户资产变动、交易情况，其实是一种结构最为简单的数据库，我们平常在小本本上记的流水账、银行发过来的对账单，都是典型的账本。”</span><a href="http://app.finance.china.com.cn/stock/cate/detail.php?symbol=400130248" style="text-decoration: underline; color: rgb(0, 66, 118); font-weight: bold; font-family: 微软雅黑, &quot;Microsoft YaHei&quot;;"><span style="font-family: 微软雅黑, &quot;Microsoft YaHei&quot;;">腾讯</span></a><a href="http://finance.china.com.cn/stock/quote/sz399699/" style="text-decoration: underline; color: rgb(0, 66, 118); font-weight: bold; font-family: 微软雅黑, &quot;Microsoft YaHei&quot;;"><span style="font-family: 微软雅黑, &quot;Microsoft YaHei&quot;;">金融科技</span></a><span style="font-family: 微软雅黑, &quot;Microsoft YaHei&quot;;">智库首席研究员王钧说，安全是区块链技术的一大特点，主要体现在两方面：一是分布式的存储架构，节点越多，数据存储的安全性越高；二是其防篡改和去中心化的巧妙设计，任何人都很难不按规则修改数据。</span>
                            </p>
                            <p style="margin-top: 0px; margin-bottom: 25px; padding: 0px; text-indent: 28px; text-align: justify; word-wrap: break-word; word-break: normal; color: rgb(43, 43, 43); font-family: &quot;Microsoft Yahei&quot;; white-space: normal; background-color: rgb(255, 255, 255);">
                                <span style="font-family: 微软雅黑, &quot;Microsoft YaHei&quot;;">　　以网购交易为例，传统模式是买家购买商品，然后将钱打到</span><a href="http://app.finance.china.com.cn/stock/cate/detail.php?symbol=400129694" style="text-decoration: underline; color: rgb(0, 66, 118); font-weight: bold; font-family: 微软雅黑, &quot;Microsoft YaHei&quot;;"><span style="font-family: 微软雅黑, &quot;Microsoft YaHei&quot;;">第三方支付</span></a><span style="font-family: 微软雅黑, &quot;Microsoft YaHei&quot;;">机构这个中介平台，等卖方发货、买方确认收货后，再由买方通知支付机构将钱打到卖方账户。由区块链技术支撑的交易模式则不同，买家和卖家可直接交易，无需通过任何中介平台。买卖双方交易后，系统通过广播的形式发布交易信息，所有收到信息的主机在确认信息无误后记录下这笔交易，相当于所有的主机都为这次交易做了数据备份。即使今后某台机器出现问题，也不会影响数据的记录，因为还有无数台机器作为备份。</span>
                            </p>
                            <p style="margin-top: 0px; margin-bottom: 25px; padding: 0px; text-indent: 28px; text-align: justify; word-wrap: break-word; word-break: normal; color: rgb(43, 43, 43); font-family: &quot;Microsoft Yahei&quot;; white-space: normal; background-color: rgb(255, 255, 255);">
                                <span style="font-family: 微软雅黑, &quot;Microsoft YaHei&quot;;">　　提到区块链，很多人就把它与比特币联系在一起，不少人甚至把区块链等同为比特币。何飞说，比特币是区块链的一种呈现方式，但区块链并不等同于比特币。区块链是比特币的底层技术和基础架构，而比特币是区块链的成功应用，但并不意味着区块链只能应用到比特币上。</span>
                            </p>
                            <p style="margin-top: 0px; margin-bottom: 25px; padding: 0px; text-indent: 28px; text-align: justify; word-wrap: break-word; word-break: normal; color: rgb(43, 43, 43); font-family: &quot;Microsoft Yahei&quot;; white-space: normal; background-color: rgb(255, 255, 255);">
                                <span style="font-family: 微软雅黑, &quot;Microsoft YaHei&quot;;">　　<strong>区块链有什么用？</strong></span>
                            </p>
                            <p style="margin-top: 0px; margin-bottom: 25px; padding: 0px; text-indent: 28px; text-align: justify; word-wrap: break-word; word-break: normal; color: rgb(43, 43, 43); font-family: &quot;Microsoft Yahei&quot;; white-space: normal; background-color: rgb(255, 255, 255);">
                                <span style="font-family: 微软雅黑, &quot;Microsoft YaHei&quot;;">　　<strong>能解决金融、公益、监管、打假等很多领域的痛点难点，但有不少适用条件</strong></span>
                            </p>
                            <p style="margin-top: 0px; margin-bottom: 25px; padding: 0px; text-indent: 28px; text-align: justify; word-wrap: break-word; word-break: normal; color: rgb(43, 43, 43); font-family: &quot;Microsoft Yahei&quot;; white-space: normal; background-color: rgb(255, 255, 255);">
                                <span style="font-family: 微软雅黑, &quot;Microsoft YaHei&quot;;">　　金融服务是区块链技术的第一个应用领域。运用区块链技术能解决支付、资产管理、证券等多个领域存在的痛点。</span>
                            </p>
                            <p style="margin-top: 0px; margin-bottom: 25px; padding: 0px; text-indent: 28px; text-align: justify; word-wrap: break-word; word-break: normal; color: rgb(43, 43, 43); font-family: &quot;Microsoft Yahei&quot;; white-space: normal; background-color: rgb(255, 255, 255);">
                                <span style="font-family: 微软雅黑, &quot;Microsoft YaHei&quot;;">　　以支付领域为例，金融机构特别是跨境金融机构间的对账、清算、结算的成本较高，涉及很多手工流程，不仅导致用户端和金融机构后台业务端等产生高昂的费用，也使得小额支付业务难以开展。区块链技术的应用有助于降低金融机构间的对账成本及争议解决的成本，显著提高支付业务的处理效率。另外，区块链技术为支付领域带来的成本和效率优势，使金融机构能更好处理以往因成本过高而被视为不现实的小额跨境支付，有助于实现普惠金融。</span>
                            </p>
                            <p style="margin-top: 0px; margin-bottom: 25px; padding: 0px; text-indent: 28px; text-align: justify; word-wrap: break-word; word-break: normal; color: rgb(43, 43, 43); font-family: &quot;Microsoft Yahei&quot;; white-space: normal; background-color: rgb(255, 255, 255);">
                                <span style="font-family: 微软雅黑, &quot;Microsoft YaHei&quot;;">　　比如，为解决金融机构间对账成本高的问题，2016年8月，微众银行联合上海华瑞银行推出微粒贷机构间对账平台，这也是国内首个在生产环境中运行的银行业联盟链应用场景。微众银行区块链首席架构师张开翔认为，传统“批量文件对账”模式长久以来未能解决的成本高问题，正是区块链技术的用武之地。随后，洛阳银行、长沙银行也相继接入机构间对账平台，通过区块链技术，优化微粒贷业务中的机构间对账流程，实现了准实时对账、提高运营效率、降低运营成本等目标。截至目前，平台稳定运行1年多，保持零故障，记录的真实交易笔数已达千万量级。</span>
                            </p>
                            <p style="margin-top: 0px; margin-bottom: 25px; padding: 0px; text-indent: 28px; text-align: justify; word-wrap: break-word; word-break: normal; color: rgb(43, 43, 43); font-family: &quot;Microsoft Yahei&quot;; white-space: normal; background-color: rgb(255, 255, 255);">
                                <span style="font-family: 微软雅黑, &quot;Microsoft YaHei&quot;;">　　在公益领域，区块链技术也大有可为。</span><a href="http://app.finance.china.com.cn/stock/cate/detail.php?symbol=400130022" style="text-decoration: underline; color: rgb(0, 66, 118); font-weight: bold; font-family: 微软雅黑, &quot;Microsoft YaHei&quot;;"><span style="font-family: 微软雅黑, &quot;Microsoft YaHei&quot;;">蚂蚁金服</span></a><span style="font-family: 微软雅黑, &quot;Microsoft YaHei&quot;;">涉及区块链的首个应用场景就是公益，帮助一群听障儿童获得一笔善款，然后运用区块链技术促进公益更加开放透明。蚂蚁金服技术实验室高级产品专家胡丹青说：“区块链公益平台就像是我们在互联网上构建了一个专门用于邮寄资金的邮局。用户捐的每一笔钱，我们都会打包成一个包裹，这个包裹通过区块链平台传递，每经过一个节点，我们都会盖上一个邮戳，最后送到受捐人手上。这样可以保证用户捐的每一笔钱都是透明、可追溯、难以篡改的。”</span>
                            </p>
                            <p style="margin-top: 0px; margin-bottom: 25px; padding: 0px; text-indent: 28px; text-align: justify; word-wrap: break-word; word-break: normal; color: rgb(43, 43, 43); font-family: &quot;Microsoft Yahei&quot;; white-space: normal; background-color: rgb(255, 255, 255);">
                                <span style="font-family: 微软雅黑, &quot;Microsoft YaHei&quot;;">　　在商品打假方面，区块链技术可以大显身手。胡丹青介绍，蚂蚁金服将区块链技术用在了正品溯源上。目前，已有部分来自澳大利亚、新西兰的海淘商品比如奶粉，用支付宝扫一扫，就能知道是不是正品。“跟此前商家自录入商品信息不同的是，区块链是让多位‘记账师’公正、独立、不可抵赖地完成记账。”</span>
                            </p>
                            <p style="margin-top: 0px; margin-bottom: 25px; padding: 0px; text-indent: 28px; text-align: justify; word-wrap: break-word; word-break: normal; color: rgb(43, 43, 43); font-family: &quot;Microsoft Yahei&quot;; white-space: normal; background-color: rgb(255, 255, 255);">
                                <span style="font-family: 微软雅黑, &quot;Microsoft YaHei&quot;;">　　对于金融监管，区块链技术也能发挥一技之长。2017年金融区块链合作联盟(深圳)发布的《金融区块链底层平台FISCO BCOS白皮书》认为，区块链为金融监管机构提供了一致且易于审计的数据，通过对机构间区块链的数据分析，能够比传统审计流程更快更精确地监管金融业务。例如，在反洗钱场景中，每个账号的余额和交易记录都是可追踪的，任意一笔交易的任何一个环节都不会脱离监管视线，这将极大提高反洗钱的力度。</span>
                            </p>
                            <p style="margin-top: 0px; margin-bottom: 25px; padding: 0px; text-indent: 28px; text-align: justify; word-wrap: break-word; word-break: normal; color: rgb(43, 43, 43); font-family: &quot;Microsoft Yahei&quot;; white-space: normal; background-color: rgb(255, 255, 255);">
                                <span style="font-family: 微软雅黑, &quot;Microsoft YaHei&quot;;">　　有业内人士认为，区块链1.0主要针对数字货币；区块链2.0针对智能合约，可以应用在金融市场中；区块链3.0适用的场景将会更多，甚至会开创一个“区块链时代”。</span>
                            </p>
                            <p style="margin-top: 0px; margin-bottom: 25px; padding: 0px; text-indent: 28px; text-align: justify; word-wrap: break-word; word-break: normal; color: rgb(43, 43, 43); font-family: &quot;Microsoft Yahei&quot;; white-space: normal; background-color: rgb(255, 255, 255);">
                                <span style="font-family: 微软雅黑, &quot;Microsoft YaHei&quot;;">　　何飞认为，区块链确实能解决很多领域的痛点难点，但区块链不是万能的，也有很多适用条件。</span>
                            </p>
                            <p style="margin-top: 0px; margin-bottom: 25px; padding: 0px; text-indent: 28px; text-align: justify; word-wrap: break-word; word-break: normal; color: rgb(43, 43, 43); font-family: &quot;Microsoft Yahei&quot;; white-space: normal; background-color: rgb(255, 255, 255);">
                                <span style="font-family: 微软雅黑, &quot;Microsoft YaHei&quot;;">　　比如，区块链技术去中心化的特点适合多方参与的场景，如果只是单边或双边参与价值就不大。由于需要每个节点都去核对，区块链技术也不适用那些高频交易的活动。</span>
                            </p>
                            <p style="margin-top: 0px; margin-bottom: 25px; padding: 0px; text-indent: 28px; text-align: justify; word-wrap: break-word; word-break: normal; color: rgb(43, 43, 43); font-family: &quot;Microsoft Yahei&quot;; white-space: normal; background-color: rgb(255, 255, 255);">
                                <span style="font-family: 微软雅黑, &quot;Microsoft YaHei&quot;;">　　再如，区块链强调的是公开透明，并不适合对数据隐私要求特别高的场景。</span>
                            </p>
                            <p style="margin-top: 0px; margin-bottom: 25px; padding: 0px; text-indent: 28px; text-align: justify; word-wrap: break-word; word-break: normal; color: rgb(43, 43, 43); font-family: &quot;Microsoft Yahei&quot;; white-space: normal; background-color: rgb(255, 255, 255);">
                                <span style="font-family: 微软雅黑, &quot;Microsoft YaHei&quot;;">　　<strong>区块链会成新风口吗？</strong></span>
                            </p>
                            <p style="margin-top: 0px; margin-bottom: 25px; padding: 0px; text-indent: 28px; text-align: justify; word-wrap: break-word; word-break: normal; color: rgb(43, 43, 43); font-family: &quot;Microsoft Yahei&quot;; white-space: normal; background-color: rgb(255, 255, 255);">
                                <span style="font-family: 微软雅黑, &quot;Microsoft YaHei&quot;;">　　<strong>技术目前还不太成熟，要警惕概念炒作，特别要区分是技术创新还是集资创新，不能为了区块链而区块链</strong></span>
                            </p>
                            <p style="margin-top: 0px; margin-bottom: 25px; padding: 0px; text-indent: 28px; text-align: justify; word-wrap: break-word; word-break: normal; color: rgb(43, 43, 43); font-family: &quot;Microsoft Yahei&quot;; white-space: normal; background-color: rgb(255, 255, 255);">
                                <span style="font-family: 微软雅黑, &quot;Microsoft YaHei&quot;;">　　区块链概念这么火，未来会成为又一个“互联网+”吗？</span>
                            </p>
                            <p style="margin-top: 0px; margin-bottom: 25px; padding: 0px; text-indent: 28px; text-align: justify; word-wrap: break-word; word-break: normal; color: rgb(43, 43, 43); font-family: &quot;Microsoft Yahei&quot;; white-space: normal; background-color: rgb(255, 255, 255);">
                                <span style="font-family: 微软雅黑, &quot;Microsoft YaHei&quot;;">　　近年来，区块链的发展生态逐渐得到改善与丰富。业内人士认为，拥有国家政策扶持，得到广泛关注和资金支持，区块链技术能实现逐步稳定进步。区块链技术上行前景虽广阔，但对此也要保持一颗平常心。</span>
                            </p>
                            <p style="margin-top: 0px; margin-bottom: 25px; padding: 0px; text-indent: 28px; text-align: justify; word-wrap: break-word; word-break: normal; color: rgb(43, 43, 43); font-family: &quot;Microsoft Yahei&quot;; white-space: normal; background-color: rgb(255, 255, 255);">
                                <span style="font-family: 微软雅黑, &quot;Microsoft YaHei&quot;;">　　“尽管眼下区块链大热，但我们仍然认为，它还处于一个非常早期的阶段。”胡丹青说，区块链概念目前存在虚热，不是热在拿技术解决现实问题，而是热在集资圈钱、炒作估值，尤其是热炒的绝大部分所谓ICO(首次代币发行)都是集资工具创新，跟技术创新无关。</span>
                            </p>
                            <p style="margin-top: 0px; margin-bottom: 25px; padding: 0px; text-indent: 28px; text-align: justify; word-wrap: break-word; word-break: normal; color: rgb(43, 43, 43); font-family: &quot;Microsoft Yahei&quot;; white-space: normal; background-color: rgb(255, 255, 255);">
                                <span style="font-family: 微软雅黑, &quot;Microsoft YaHei&quot;;">　　区块链技术确实能创造很大的价值，但一些风险也不容忽视。</span>
                            </p>
                            <p style="margin-top: 0px; margin-bottom: 25px; padding: 0px; text-indent: 28px; text-align: justify; word-wrap: break-word; word-break: normal; color: rgb(43, 43, 43); font-family: &quot;Microsoft Yahei&quot;; white-space: normal; background-color: rgb(255, 255, 255);">
                                <span style="font-family: 微软雅黑, &quot;Microsoft YaHei&quot;;">　　“区块链技术还不太成熟，可应用场景比较有限，更应警惕资本市场炒作概念。”何飞说，区块链热潮的背后免不了会有一些搞噱头想投机的公司，他们并没有真正开展业务，只是企图到资本市场捞一笔就走，要谨防由此出现“劣币驱逐良币”，导致真正想开展业务的机构退出市场，影响区块链技术的应用。</span>
                            </p>
                            <p style="margin-top: 0px; margin-bottom: 25px; padding: 0px; text-indent: 28px; text-align: justify; word-wrap: break-word; word-break: normal; color: rgb(43, 43, 43); font-family: &quot;Microsoft Yahei&quot;; white-space: normal; background-color: rgb(255, 255, 255);">
                                <span style="font-family: 微软雅黑, &quot;Microsoft YaHei&quot;;">　　胡丹青建议，对于目前的区块链热，监管部门应更主动地介入，区分是技术创新还是集资创新，鼓励政府组织、有公信力的专家、行业参与者共同帮助公众辨识，全面遏制区块链名义下的集资创新，让ICO实际控制人必须为集资行为承担责任。“判断是技术创新还是集资创新的依据其实很清楚，即是否以信任为始，是否通过解决信任问题创造了实际价值。”</span>
                            </p>
                            <p style="margin-top: 0px; margin-bottom: 25px; padding: 0px; text-indent: 28px; text-align: justify; word-wrap: break-word; word-break: normal; color: rgb(43, 43, 43); font-family: &quot;Microsoft Yahei&quot;; white-space: normal; background-color: rgb(255, 255, 255);">
                                <span style="font-family: 微软雅黑, &quot;Microsoft YaHei&quot;;">　　今后更好地推广和使用区块链技术，还需继续完善基础设施、加强相关法律政策制定等。</span>
                            </p>
                            <p style="margin-top: 0px; margin-bottom: 25px; padding: 0px; text-indent: 28px; text-align: justify; word-wrap: break-word; word-break: normal; color: rgb(43, 43, 43); font-family: &quot;Microsoft Yahei&quot;; white-space: normal; background-color: rgb(255, 255, 255);">
                                <span style="font-family: 微软雅黑, &quot;Microsoft YaHei&quot;;">　　王钧认为，共识算法等区块链的核心技术尚存在优化和完善的空间；另一方面，区块链的处理效率还难以达到现实中一些高频度应用环境的要求。目前主流的区块链技术平台均发源于国外，国内的区块链技术服务商要耐心地从底层开发做起，做到技术自主可控，争取引领全球区块链技术发展。拥有区块链应用场景的企业，要积极拥抱新事物，同时科学评估上链需求，不能为了区块链而区块链。</span>
                            </p>
                            <p style="margin-top: 0px; margin-bottom: 25px; padding: 0px; text-indent: 28px; text-align: justify; word-wrap: break-word; word-break: normal; color: rgb(43, 43, 43); font-family: &quot;Microsoft Yahei&quot;; white-space: normal; background-color: rgb(255, 255, 255);">
                                <span style="font-family: 微软雅黑, &quot;Microsoft YaHei&quot;;">　　何飞认为，政府可以出台相关政策，指导有志于投身区块链技术研发应用的企业，同时明确一些区块链适合应用的场景及国家鼓励的领域等。</span>
                            </p>
                            <p style="margin-top: 0px; margin-bottom: 25px; padding: 0px; text-indent: 28px; text-align: justify; word-wrap: break-word; word-break: normal; color: rgb(43, 43, 43); font-family: &quot;Microsoft Yahei&quot;; white-space: normal; background-color: rgb(255, 255, 255);">
                                <span style="font-family: 微软雅黑, &quot;Microsoft YaHei&quot;;">　　《中国区块链技术和应用发展白皮书2016》建议各级政府主管部门借鉴发达国家和地区的先进做法，结合我国区块链技术和应用发展情况，及时出台区块链技术和产业发展扶持政策，重点支持关键技术攻关、重大示范工程、“双创”平台建设、系统解决方案研发和公共服务平台建设等。同时，建议国内重点企业、科研、</span><a href="http://app.finance.china.com.cn/stock/cate/detail.php?symbol=400125359" style="text-decoration: underline; color: rgb(0, 66, 118); font-weight: bold; font-family: 微软雅黑, &quot;Microsoft YaHei&quot;;"><span style="font-family: 微软雅黑, &quot;Microsoft YaHei&quot;;">高校</span></a><span style="font-family: 微软雅黑, &quot;Microsoft YaHei&quot;;">和用户单位加强联合，加快共识机制、可编程合约、分布式存储、数字签名等核心关键技术攻关。</span>
                            </p>
                            <p>
                                <br/>
                            </p>
                        </div>

                    </div>
                </div>
            </div>
        

            <footer class="footer">
                <div class="w1200">
                    <div class="url">
                        友情链接：
                        <a href="http://www.ahbofcom.gov.cn/" target="_blank">安徽省商务厅</a>
                        <a href="http://www.huiec.org/" target="_blank">安徽省网商协会</a>
                        <a href="http://www.ahiib.com/" target="_blank">安徽国际商务职业学院</a>
                    </div>
                    <p>
                        皖ICP备06010770号 版权所有 Copyright © 2018 All Rights Reserve
                    </p>
                </div>
            </footer>

        </section>

        <section class="sidebar">
            <div class="on_line">在线咨询</div>
            <!-- <div class="sale">
                <a href="http://wpa.qq.com/msgrd?v=3&amp;uin=1690123670&amp;site=qq&amp;menu=yes">售前云云</a>
                <a href="http://wpa.qq.com/msgrd?v=3&amp;uin=1690123670&amp;site=qq&amp;menu=yes">售后花花</a>
                <div class="del"></div>
            </div> -->
            <div class="del"></div>
            <div class="side">
                <ul>
                    <li>
                        <a>
                            <img src="http://img.xyunhui.com/img_01_side_1.png">
                            <span>咨询热线</span>
                        </a>
                        <div class="con pho">0551-69113762</div>
                    </li>
                    <li>
                        <a href="javascript:void(0)" onclick="hz6d_is_exist('setIsinvited()%3Bwindow.open(#liyc#https%3A%2F%2Fwww16.53kf.com%2FwebCompany.php%3Farg%3D10173076%26style%3D1%26language%3Dzh-cn%26charset%3DGBK%26kflist%3Doff%26kf%3D%26zdkf_type%3D1%26lnk_overflow%3D0%26referer%3Dfile%253A%252F%252F%252FD%253A%252F%2525E6%252596%2525B0%2525E4%2525BA%252591%2525E6%252599%252596%252F%2525E5%2525AE%252589%2525E5%2525BE%2525BD%2525E7%25259C%252581%2525E5%252595%252586%2525E5%25258A%2525A1%2525E5%25258E%252585%252Findex.html%26keyword%3D%26tfrom%3D1%26tpl%3Dcrystal_blue%26uid%3Dbad2e64a81f5117d18177d6cd2fcff37%26is_group%3D%26is_group%3D#liyc#%2C%20#liyc#_blank#liyc#%2C%20#liyc#height%3D600%2Cwidth%3D800%2Ctop%3D50%2Cleft%3D200%2Cstatus%3Dyes%2Ctoolbar%3Dno%2Cmenubar%3Dno%2Cresizable%3Dyes%2Cscrollbars%3Dno%2Clocation%3Dno%2Ctitlebar%3Dno#liyc#)');">
                            <img src="http://img.xyunhui.com/img_01_side_2.png">
                            <span>在线客服</span>
                        </a>
                    </li>
                    <li>
                        <a>
                            <img src="http://img.xyunhui.com/img_01_side_3.png">
                            <span>微信咨询</span>
                        </a>
                        <div class="con wx">
                            <img src="images/images/ewm.png" width="100%" height="100%;">
                        </div>
                    </li>
                </ul>
                <div class="revert"></div>
            </div>
        </section><section class="user_login">
            <div class="popup login">
                <div class="login_cont">
                    <div class="tit">用户登录</div>
                    <div class="con">
                        <div class="list list_1">
                            <input type="text" placeholder="输入用户名或手机号">
                        </div>
                        <div class="list list_2">
                            <input type="text" placeholder="请输入密码">
                        </div>
                        <div class="list yzm list_3">
                            <input type="text" placeholder="请输入图片验证码">
                            <div class="operation">
                                <img src="images/login_11.png" width="100%" height="100%">
                            </div>
                        </div>
                        <div class="remember clr">
                            <div class="pass on fl">记住密码</div>
                            <a href="#" class="fr">忘记密码</a>
                        </div>
                        <div class="btn">登录</div>
                        <div class="new">新用户账号<a>注册</a></div>
                    </div>
                </div>
                <div class="login_back">
                    <div class="tit">找回密码</div>
                    <div class="con con_1">
                        <div class="list list_4">
                            <input type="text" placeholder="输入手机号">
                        </div>
                        <div class="list yzm list_6">
                            <input type="text" placeholder="输入短信验证码">
                            <div class="operation">
                                <div class="obtain">获取验证码</div>
                                <div class="already hide">已发送(<em>60</em>)s</div>
                            </div>
                        </div>
                        <div class="btn">确定</div>
                    </div>
                    <div class="con con_2">
                        <div class="list list_2">
                            <input type="text" placeholder="输入新密码">
                        </div>
                        <div class="list list_8">
                            <input type="text" placeholder="再次输入新密码">
                        </div>
                        <div class="btn">确定</div>
                    </div>
                    <div class="con con_3">
                        <h2>密码修改成功！</h2>
                        <div class="btn">登录</div>
                        <div class="btn">返回</div>
                    </div>
                </div>
                <div class="del"></div>
            </div>
            <div class="popup register">
                <div class="tit clr">
                    <div class="tit_list on">企业注册</div>
                    <div class="tit_list">个人注册</div>
                </div>
                <div class="con">
                    <div class="cons_list">
                        <div class="con_registe">
                            <div class="list list_1">
                                <input type="text" placeholder="请输入公司名称">
                            </div>
                            <div class="list list_4">
                                <input type="text" placeholder="请输入手机号">
                            </div>
                            <div class="list yzm list_5">
                                <input type="text" placeholder="请输入图片验证码">
                                <div class="operation">
                                    <img src="images/login_11.png" width="100%" height="100%">
                                </div>
                            </div>
                            <div class="list yzm list_6">
                                <input type="text" placeholder="请输入短信验证码">
                                <div class="operation">
                                    <div class="obtain">获取验证码</div>
                                    <div class="already hide">已发送(<em>60</em>)s</div>
                                </div>
                            </div>
                            <div class="list list_7">
                                <input type="text" placeholder="请输入密码">
                            </div>
                            <!-- <div class="list list_8">
                                <input type="text" placeholder="请再次输入密码">
                            </div> -->
                            <div class="btn">注册</div>
                            <div class="new">已有账号，立即<a>登录</a></div>
                        </div>
                        <div class="con_registe">
                            <div class="list list_4">
                                <input type="text" placeholder="请输入手机号">
                            </div>
                            <div class="list yzm list_5">
                                <input type="text" placeholder="请输入图片验证码">
                                <div class="operation">
                                    <img src="images/login_11.png" width="100%" height="100%">
                                </div>
                            </div>
                            <div class="list yzm list_6">
                                <input type="text" placeholder="请输入短信验证码">
                                <div class="operation">
                                    <div class="obtain">获取验证码</div>
                                    <div class="already hide">已发送(<em>60</em>)s</div>
                                </div>
                            </div>
                            <div class="list list_7">
                                <input type="text" placeholder="请输入密码">
                            </div>
                            <!-- <div class="list list_8">
                                <input type="text" placeholder="请再次输入密码">
                            </div> -->
                            <div class="btn">注册</div>
                            <div class="new">已有账号，立即<a>登录</a></div>
                        </div>
                    </div>
                    <div class="complete">
                        <h2>恭喜您账号注册成功！</h2>
                        <div class="btn">继续完善资料</div>
                        <div class="btn">返回</div>
                    </div>
                </div>
                <div class="del"></div>
            </div>
        </section>

        
            
     
        <script src="scripts/jquery-1.8.3.min.js"></script>
        <script src="scripts/jquery.SuperSlide.2.1.1.js"></script>
        <script src="scripts/TouchSlide.1.1.js"></script>
        <script src="scripts/fastclick.js"></script>
        <script src="scripts/common.js"></script>
        <script type="text/javascript">
            $(function(){
                
                
            });
        </script>
    </body>
</html>





