<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta http-equiv="Expires" content="-1">
<meta http-equiv="Cache-Control" content="no-cache">
<meta http-equiv="Pragma" content="no-cache">
<meta charset="utf-8">
<title>安徽省电子商务公共服务平台</title>
<meta name="keywords" content="安徽省电子商务公共服务平台">
<meta name="description" content="安徽省电子商务公共服务平台">
<link href="css/style.css" rel="stylesheet"/>
<link rel="shortcut icon" type="image/x-icon" href="favicon.ico"/>
<!--[if lte IE 9]>
<script src="scripts/html5shiv.min.js"></script>
<![endif]-->
</head>
    <body>
        
        <section class="body">

            <header class="header">
                <div class="w1200 clr">
                    <a href="index.html" class="logo clr">
                        <img src="images/logo.png" width="auto" height="100%" alt="logo" class="fl">
                        <div class="text">
                            <h2>安徽省电子商务公共服务平台</h2>
                            <p>ANHUI PROVINCE-COMMERCE PUBLIC SERVICE CENTER</p>
                        </div>
                    </a>
                    <div class="menu">
                        <i></i>
                        <i></i>
                        <i></i>
                    </div>
                    <div class="nav clr">
                        <div class="nav_list nav_index">
                            <a href="index.html" class="nav_a">首页</a>
                        </div>
                        <div class="nav_list">
                            <a href="index.html?page=1" class="nav_a">示范创建</a>
                            <div class="nav_list_con">
                                <a href="service_centre.html">电商公共服务中心</a>
                                <a href="industrial_park.html">电商产业园区</a>
                                <a href="training_base.html">电商示范企业</a>
                            </div>
                        </div>
                        <div class="nav_list">
                            <a href="index.html?page=2" class="nav_a">电商服务</a>
                            <div class="nav_list_con">
                                <a href="service_list.html">金融服务</a>
                                <a href="service_list_1.html">电商代运营</a>
                                <a href="service_list_2.html">营销推广</a>
                                <a href="service_list_3.html">设计摄影</a>
                                <a href="service_list_4.html">物流服务</a>
                                <a href="service_list_5.html">IT互联网服务</a>
                            </div>
                        </div>
                        <div class="nav_list">
                            <a href="index.html?page=3" class="nav_a">电商优选</a>
                            <div class="nav_list_con">
                                <a href="recommend_list.html">电商企业</a>
                                <a href="commodity_list.html">商品展示</a>
                            </div>
                        </div>
                        <div class="nav_list">
                            <a href="index.html?page=4" class="nav_a">人才服务</a>
                            <div class="nav_list_con">
                                <a href="information_list.html">人才信息</a>
                                <a href="enterprise_list.html">企业招聘</a>
                                <a href="personnel_list.html">人才政策</a>
                            </div>
                        </div>
                        <div class="nav_list">
                            <a href="index.html?page=5" class="nav_a">课程培训</a>
                            <div class="nav_list_con">
                                <a href="curriculum_list.html">精品课程</a>
                                <a href="expert_list.html">专家智库</a>
                                <a href="mechanism_list.html">电商培训机构</a>
                            </div>
                        </div>
                    </div>
                    <div class="show_search">
                        <div class="cont">
                            <input type="text" placeholder="请输入搜索内容" />
                            <i></i>
                        </div>
                    </div>
                    <div class="search clr">
                        <a href="javascript:void(0)" class="url"></a>
                        <a href="javascript:void(0)" class="login">登录</a><em>|</em><a href="javascript:void(0)" class="register">注册</a>
                    </div>
                </div>
            </header>

            <div class="list_wrap">
                <div class="w1200 clr">
                    <div class="crumbs">
                        当前位置：<a href="index.html">首页</a> &gt; 新闻详情
                    </div>
                    <div class="news_cont">
                        <div class="news_top">
                            <h2 class="title">第三方网站代销禁而不止 资管产品监管趋严转卖信托</h2>
                            <div class="release">发布日期：2017/9/13 &nbsp; 作者：张三丰 &nbsp; 来源：今日头条</div>
                        </div>
                        <div class="content">
                            <p style="line-height: 1.5em;">
                                <span style="font-family: 微软雅黑, &quot;Microsoft YaHei&quot;;">不知关注信托的人有没有发现，在各大搜索平台输入“信托”二字并点击回车键后，第一个搜索结果多数时候并非信托公司。在以出价高低作为排名先后主要依据的搜索页面中，占据最前不知关注信托的人有没有发现，在各大搜索平台输入“信托”二字并点击回车键后，第一个搜索结果多数时候并非信托公司。在以出价高低作为排名先后主要依据的搜索页面中，占据最前面的多数时候是所谓的“第三方”。</span>
                            </p>
                            <p style="line-height: 1.5em;">
                                <span style="font-family: 微软雅黑, &quot;Microsoft YaHei&quot;;">尽管监管机构三令五申，禁止第三方机构代销，或以提供咨询、顾问、居间等方式直接或间接推介信托计划，近年也有部分信托公司因违规委托第三方机构代销而受处罚，不过，信托与第三方的藕断丝连，在搜索引擎的搜索结果中可见一斑。</span>
                            </p>
                            <p style="line-height: 1.5em;">
                                <span style="font-family: 微软雅黑, &quot;Microsoft YaHei&quot;;">记者随机点开了一家宣称主打信托产品的第三方网站并对其上面列明的项目，网站工作人员、涉及的信托公司进行咨询。一方面，该网站自称和信托公司有合作关系；而另一方面，其首页列出的所谓的合作信托公司也纷纷撇清关系，称“从未听说过该家网站”或者“未授权过任何第三方”。</span>
                            </p>
                            <p style="line-height: 1.5em;">
                                <span style="font-family: 微软雅黑, &quot;Microsoft YaHei&quot;;">不过，总部位于广州的一家信托公司人士表示，银监会对信托监管很严，去年信托产品的收益率没有优势，第三方主要的产品是基金子公司的资管或契约型基金产品，现在证监会的监管也趋于严格，第三方的产品更少了，便又回来找信托。</span>
                            </p>
                            <p>
                                <br/>
                            </p>
                            <p style="line-height: 1.5em;">
                                <span style="font-family: 微软雅黑, &quot;Microsoft YaHei&quot;;">真假“合作伙伴”</span>
                            </p>
                            <p style="line-height: 1.5em;">
                                <span style="font-family: 微软雅黑, &quot;Microsoft YaHei&quot;;">记者发现，一些第三方网站提供的信息比信托公司要“全”得多。</span>
                            </p>
                            <p style="line-height: 1.5em;">
                                <span style="font-family: 微软雅黑, &quot;Microsoft YaHei&quot;;">比如在一家自称“以信托和政信产品为主打的金融电商平台”平台上，点开之后，先是弹出了该网站的免责条款以及《私募投资基金募集行为管理办法》，同时，在弹窗侧面，标注着“收益高”“真安全”“全披露”以及“服务优”。在网页首页的底端，赫然写着合作伙伴，包括四川信托、中信信托、中江信托等6家信托公司。</span>
                            </p>
                            <p style="line-height: 1.5em;">
                                <span style="font-family: 微软雅黑, &quot;Microsoft YaHei&quot;;">同时，在该网站的首页，挂着部分信托计划以及其他形式的产品。可以看到该网站不但销售集合信托产品，还销售资管计划、债券基金、股权基金、债券基金以及金交所的部分产品。记者随机点开了几款信托产品，除了详细介绍了信托计划的产品名称、产品期限、投资领域，融资主体、资金用途、还款来源、风控措施、项目亮点，还列出了募集账号，详细到了信托公司的账户名、账号以及开户行。</span>
                            </p>
                            <p style="line-height: 1.5em;">
                                <span style="font-family: 微软雅黑, &quot;Microsoft YaHei&quot;;">而信托公司，由于属于私募机构，一般不会将这些详细的产品信息“挂网”。</span>
                            </p>
                            <p style="line-height: 1.5em;">
                                <span style="font-family: 微软雅黑, &quot;Microsoft YaHei&quot;;">例如，“被披露”产品详细信息的国通信托在回复记者的采访时表示，“官方网站披露信息相对简要，只是起到引导客户的作用，意向客户若要购买我司该款理财产品，销售人员会向客户详细介绍产品信息，同时向客户提供投资指南，都有详细的风控措施介绍，另外，项目风控措施在信托合同中也有明确列示”。国通信托进一步表示，“风控措施在该产品的投资指南和信托合同上都有列明，网上的风控措施信息可能摘抄自投资指南和信托合同。”</span>
                            </p>
                            <p style="line-height: 1.5em;">
                                <span style="font-family: 微软雅黑, &quot;Microsoft YaHei&quot;;">记者大致统计了一下该网站代销的产品，涉及到国元信托、中泰信托、大业信托等信托公司的近20款产品。</span>
                            </p>
                            <p style="line-height: 1.5em;">
                                <span style="font-family: 微软雅黑, &quot;Microsoft YaHei&quot;;">记者以投资者的身份致电该网站400客服人员，在与该人员的交流中，对方向记者表示，“我们有基金管理人资格，之前是做线下运营的，做了已经有三四年了，近期才刚刚做线上销售”，同时对方也对记者表示，他们主要是做产品包销。</span>
                            </p>
                            <p style="line-height: 1.5em;">
                                <span style="font-family: 微软雅黑, &quot;Microsoft YaHei&quot;;">当记者询问相关信托产品时，他还对记者表示，“我们也有自己主打的项目产品，比如一些私募债”。当记者询问是否经过信托公司授权来卖这些信托产品时，对方首先表现得比较谨慎，当得知只是个人投资者，想确认一下该网站的产品是否真实、是否得到信托公司授权时，对方随即对记者明确表示，确实和信托公司合作。</span>
                            </p>
                            <p>
                                <br/>
                            </p>
                        </div>

                    </div>
                </div>
            </div>
        

            <footer class="footer">
                <div class="w1200">
                    <div class="url">
                        友情链接：
                        <a href="http://www.ahbofcom.gov.cn/" target="_blank">安徽省商务厅</a>
                        <a href="http://www.huiec.org/" target="_blank">安徽省网商协会</a>
                        <a href="http://www.ahiib.com/" target="_blank">安徽国际商务职业学院</a>
                    </div>
                    <p>
                        皖ICP备06010770号 版权所有 Copyright © 2018 All Rights Reserve
                    </p>
                </div>
            </footer>

        </section>

        <section class="sidebar">
            <div class="on_line">在线咨询</div>
            <!-- <div class="sale">
                <a href="http://wpa.qq.com/msgrd?v=3&amp;uin=1690123670&amp;site=qq&amp;menu=yes">售前云云</a>
                <a href="http://wpa.qq.com/msgrd?v=3&amp;uin=1690123670&amp;site=qq&amp;menu=yes">售后花花</a>
                <div class="del"></div>
            </div> -->
            <div class="del"></div>
            <div class="side">
                <ul>
                    <li>
                        <a>
                            <img src="http://img.xyunhui.com/img_01_side_1.png">
                            <span>咨询热线</span>
                        </a>
                        <div class="con pho">0551-69113762</div>
                    </li>
                    <li>
                        <a href="javascript:void(0)" onclick="hz6d_is_exist('setIsinvited()%3Bwindow.open(#liyc#https%3A%2F%2Fwww16.53kf.com%2FwebCompany.php%3Farg%3D10173076%26style%3D1%26language%3Dzh-cn%26charset%3DGBK%26kflist%3Doff%26kf%3D%26zdkf_type%3D1%26lnk_overflow%3D0%26referer%3Dfile%253A%252F%252F%252FD%253A%252F%2525E6%252596%2525B0%2525E4%2525BA%252591%2525E6%252599%252596%252F%2525E5%2525AE%252589%2525E5%2525BE%2525BD%2525E7%25259C%252581%2525E5%252595%252586%2525E5%25258A%2525A1%2525E5%25258E%252585%252Findex.html%26keyword%3D%26tfrom%3D1%26tpl%3Dcrystal_blue%26uid%3Dbad2e64a81f5117d18177d6cd2fcff37%26is_group%3D%26is_group%3D#liyc#%2C%20#liyc#_blank#liyc#%2C%20#liyc#height%3D600%2Cwidth%3D800%2Ctop%3D50%2Cleft%3D200%2Cstatus%3Dyes%2Ctoolbar%3Dno%2Cmenubar%3Dno%2Cresizable%3Dyes%2Cscrollbars%3Dno%2Clocation%3Dno%2Ctitlebar%3Dno#liyc#)');">
                            <img src="http://img.xyunhui.com/img_01_side_2.png">
                            <span>在线客服</span>
                        </a>
                    </li>
                    <li>
                        <a>
                            <img src="http://img.xyunhui.com/img_01_side_3.png">
                            <span>微信咨询</span>
                        </a>
                        <div class="con wx">
                            <img src="images/images/ewm.png" width="100%" height="100%;">
                        </div>
                    </li>
                </ul>
                <div class="revert"></div>
            </div>
        </section><section class="user_login">
            <div class="popup login">
                <div class="login_cont">
                    <div class="tit">用户登录</div>
                    <div class="con">
                        <div class="list list_1">
                            <input type="text" placeholder="输入用户名或手机号">
                        </div>
                        <div class="list list_2">
                            <input type="text" placeholder="请输入密码">
                        </div>
                        <div class="list yzm list_3">
                            <input type="text" placeholder="请输入图片验证码">
                            <div class="operation">
                                <img src="images/login_11.png" width="100%" height="100%">
                            </div>
                        </div>
                        <div class="remember clr">
                            <div class="pass on fl">记住密码</div>
                            <a href="#" class="fr">忘记密码</a>
                        </div>
                        <div class="btn">登录</div>
                        <div class="new">新用户账号<a>注册</a></div>
                    </div>
                </div>
                <div class="login_back">
                    <div class="tit">找回密码</div>
                    <div class="con con_1">
                        <div class="list list_4">
                            <input type="text" placeholder="输入手机号">
                        </div>
                        <div class="list yzm list_6">
                            <input type="text" placeholder="输入短信验证码">
                            <div class="operation">
                                <div class="obtain">获取验证码</div>
                                <div class="already hide">已发送(<em>60</em>)s</div>
                            </div>
                        </div>
                        <div class="btn">确定</div>
                    </div>
                    <div class="con con_2">
                        <div class="list list_2">
                            <input type="text" placeholder="输入新密码">
                        </div>
                        <div class="list list_8">
                            <input type="text" placeholder="再次输入新密码">
                        </div>
                        <div class="btn">确定</div>
                    </div>
                    <div class="con con_3">
                        <h2>密码修改成功！</h2>
                        <div class="btn">登录</div>
                        <div class="btn">返回</div>
                    </div>
                </div>
                <div class="del"></div>
            </div>
            <div class="popup register">
                <div class="tit clr">
                    <div class="tit_list on">企业注册</div>
                    <div class="tit_list">个人注册</div>
                </div>
                <div class="con">
                    <div class="cons_list">
                        <div class="con_registe">
                            <div class="list list_1">
                                <input type="text" placeholder="请输入公司名称">
                            </div>
                            <div class="list list_4">
                                <input type="text" placeholder="请输入手机号">
                            </div>
                            <div class="list yzm list_5">
                                <input type="text" placeholder="请输入图片验证码">
                                <div class="operation">
                                    <img src="images/login_11.png" width="100%" height="100%">
                                </div>
                            </div>
                            <div class="list yzm list_6">
                                <input type="text" placeholder="请输入短信验证码">
                                <div class="operation">
                                    <div class="obtain">获取验证码</div>
                                    <div class="already hide">已发送(<em>60</em>)s</div>
                                </div>
                            </div>
                            <div class="list list_7">
                                <input type="text" placeholder="请输入密码">
                            </div>
                            <!-- <div class="list list_8">
                                <input type="text" placeholder="请再次输入密码">
                            </div> -->
                            <div class="btn">注册</div>
                            <div class="new">已有账号，立即<a>登录</a></div>
                        </div>
                        <div class="con_registe">
                            <div class="list list_4">
                                <input type="text" placeholder="请输入手机号">
                            </div>
                            <div class="list yzm list_5">
                                <input type="text" placeholder="请输入图片验证码">
                                <div class="operation">
                                    <img src="images/login_11.png" width="100%" height="100%">
                                </div>
                            </div>
                            <div class="list yzm list_6">
                                <input type="text" placeholder="请输入短信验证码">
                                <div class="operation">
                                    <div class="obtain">获取验证码</div>
                                    <div class="already hide">已发送(<em>60</em>)s</div>
                                </div>
                            </div>
                            <div class="list list_7">
                                <input type="text" placeholder="请输入密码">
                            </div>
                            <!-- <div class="list list_8">
                                <input type="text" placeholder="请再次输入密码">
                            </div> -->
                            <div class="btn">注册</div>
                            <div class="new">已有账号，立即<a>登录</a></div>
                        </div>
                    </div>
                    <div class="complete">
                        <h2>恭喜您账号注册成功！</h2>
                        <div class="btn">继续完善资料</div>
                        <div class="btn">返回</div>
                    </div>
                </div>
                <div class="del"></div>
            </div>
        </section>

        
            
     
        <script src="scripts/jquery-1.8.3.min.js"></script>
        <script src="scripts/jquery.SuperSlide.2.1.1.js"></script>
        <script src="scripts/TouchSlide.1.1.js"></script>
        <script src="scripts/fastclick.js"></script>
        <script src="scripts/common.js"></script>
        <script type="text/javascript">
            $(function(){
                
                
            });
        </script>
    </body>
</html>





