<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta http-equiv="Expires" content="-1">
<meta http-equiv="Cache-Control" content="no-cache">
<meta http-equiv="Pragma" content="no-cache">
<meta charset="utf-8">
<title>安徽省电子商务公共服务平台</title>
<meta name="keywords" content="安徽省电子商务公共服务平台">
<meta name="description" content="安徽省电子商务公共服务平台">
<link href="css/style.css" rel="stylesheet"/>
<link rel="shortcut icon" type="image/x-icon" href="favicon.ico"/>
<!--[if lte IE 9]>
<script src="scripts/html5shiv.min.js"></script>
<![endif]-->
</head>
    <body>
        
        <section class="body">

            <header class="header">
                <div class="w1200 clr">
                    <a href="index.html" class="logo clr">
                        <img src="images/logo.png" width="auto" height="100%" alt="logo" class="fl">
                        <div class="text">
                            <h2>安徽省电子商务公共服务平台</h2>
                            <p>ANHUI PROVINCE-COMMERCE PUBLIC SERVICE CENTER</p>
                        </div>
                    </a>
                    <div class="menu">
                        <i></i>
                        <i></i>
                        <i></i>
                    </div>
                    <div class="nav clr">
                        <div class="nav_list nav_index">
                            <a href="index.html" class="nav_a">首页</a>
                        </div>
                        <div class="nav_list">
                            <a href="index.html?page=1" class="nav_a">示范创建</a>
                            <div class="nav_list_con">
                                <a href="service_centre.html">电商公共服务中心</a>
                                <a href="industrial_park.html">电商产业园区</a>
                                <a href="training_base.html">电商示范企业</a>
                            </div>
                        </div>
                        <div class="nav_list">
                            <a href="index.html?page=2" class="nav_a">电商服务</a>
                            <div class="nav_list_con">
                                <a href="service_list.html">金融服务</a>
                                <a href="service_list_1.html">电商代运营</a>
                                <a href="service_list_2.html">营销推广</a>
                                <a href="service_list_3.html">设计摄影</a>
                                <a href="service_list_4.html">物流服务</a>
                                <a href="service_list_5.html">IT互联网服务</a>
                            </div>
                        </div>
                        <div class="nav_list">
                            <a href="index.html?page=3" class="nav_a on">电商优选</a>
                            <div class="nav_list_con">
                                <a href="recommend_list.html">电商企业</a>
                                <a href="commodity_list.html">商品展示</a>
                            </div>
                        </div>
                        <div class="nav_list">
                            <a href="index.html?page=4" class="nav_a">人才服务</a>
                            <div class="nav_list_con">
                                <a href="information_list.html">人才信息</a>
                                <a href="enterprise_list.html">企业招聘</a>
                                <a href="personnel_list.html">人才政策</a>
                            </div>
                        </div>
                        <div class="nav_list">
                            <a href="index.html?page=5" class="nav_a">课程培训</a>
                            <div class="nav_list_con">
                                <a href="curriculum_list.html">精品课程</a>
                                <a href="expert_list.html">专家智库</a>
                                <a href="mechanism_list.html">电商培训机构</a>
                            </div>
                        </div>
                    </div>
                    <div class="show_search">
                        <div class="cont">
                            <input type="text" placeholder="请输入搜索内容" />
                            <i></i>
                        </div>
                    </div>
                    <div class="search clr">
                        <a href="javascript:void(0)" class="url"></a>
                        <a href="javascript:void(0)" class="login">登录</a><em>|</em><a href="javascript:void(0)" class="register">注册</a>
                    </div>
                </div>
            </header>

            <div class="list_wrap">
                <div class="w1200 clr">
                    <div class="crumbs">
                        当前位置：<a href="index.html">首页</a> &gt; <a href="recommend.html">电商优选</a> &gt; 电商企业
                    </div>
                    <div class="details_brief recommend_brief clr">
                        <div class="details_brief_left clr">
                            <div class="img dsqy_img fl">
                                <img src="images/details_img.jpg" width="100%" height="100%">
                            </div>
                            <div class="text">
                                <h2>安徽三只松鼠电子商务有限公司</h2>
                                <p>联系人：何XX</p>
                                <p>电　话：0580-2291129</p>
                                <p>邮   箱：heyiting@tyloo.cn</p>
                                <p>手　机：13655802247</p>
                                <p>地　址：安徽省芜湖市临城海宇道272号弘禄国际大厦7F</p>
                                <a href="http://www.3songshu.com/" target="_blank" class="more">进入官网</a>
                            </div>
                        </div>
                    </div>
                    <div class="details_cont">
                        <div class="details_tab clr">
                            <div class="list on">公司简介</div>
                        </div>
                        <div class="content_list">
                            <div class="content">
                                <p style="margin-top: 0px; margin-bottom: 0px; padding: 0px; color: rgb(102, 102, 102); font-family: 宋体; font-size: 12px; white-space: normal; background-color: rgb(255, 255, 255); line-height: 1.5em;">
                                    <span style="font-family: 微软雅黑, &quot;Microsoft YaHei&quot;; font-size: 14px; color: rgb(89, 89, 89);"><span style="font-size: 14px; font-family: 微软雅黑, &quot;Microsoft YaHei&quot;; line-height: 2; margin: 0px; padding: 0px;">三只松鼠股份有限公司位于安徽省芜湖市，</span><span style="font-size: 14px; font-family: 微软雅黑, &quot;Microsoft YaHei&quot;; margin: 0px; padding: 0px; line-height: 2;">2012年注册成立，是一家以以坚果、干果、茶叶、休闲零食等食品的研发、分装及销售的为主的产业链平台型企业，围绕“让天下主人爽起来”的使命，业务范围已扩展至动漫、影视等领域。</span></span>
                                </p>
                                <p style="margin-top: 0px; margin-bottom: 0px; padding: 0px; color: rgb(102, 102, 102); font-family: 宋体; font-size: 12px; white-space: normal; background-color: rgb(255, 255, 255); line-height: 1.5em;">
                                    <span style="margin: 0px; padding: 0px; line-height: 2; font-family: 微软雅黑, &quot;Microsoft YaHei&quot;; font-size: 14px; color: rgb(89, 89, 89);">在“大众创业、万众创新”的时代大潮下，三只松鼠从五个人的创业团队，仅用五年的时间就成为一家年销售额超过50亿元的企业。截至目前，三只松鼠拥有员工3200多人，平均年龄24.5岁。</span>
                                </p>
                                <p style="margin-top: 0px; margin-bottom: 0px; padding: 0px; color: rgb(102, 102, 102); font-family: 宋体; font-size: 12px; white-space: normal; background-color: rgb(255, 255, 255); line-height: 1.5em;">
                                    <span style="margin: 0px; padding: 0px; line-height: 2; font-family: 微软雅黑, &quot;Microsoft YaHei&quot;; font-size: 14px; color: rgb(89, 89, 89);">“做强一个IP，横跨多个产业，以三驾马车为驱动”是三只松鼠未来五年的战略规划，借此努力实现销售额达300亿+，进入中国500强的目标。从2012年至今，三只松鼠的产品全面覆盖天猫、京东、苏宁易购等各类电商渠道，并已建成芜湖、天津、成都、广州、西安等&nbsp;&nbsp;十二个仓储物流中心以及三大配送中心。</span>
                                </p>
                                <p style="margin-top: 0px; margin-bottom: 0px; padding: 0px; color: rgb(102, 102, 102); font-family: 宋体; font-size: 12px; white-space: normal; background-color: rgb(255, 255, 255); line-height: 1.5em;">
                                    <span style="margin: 0px; padding: 0px; line-height: 2; font-family: 微软雅黑, &quot;Microsoft YaHei&quot;; font-size: 14px; color: rgb(89, 89, 89);">同时在消费升级的大背景下，2016年9月30日，三只松鼠第一家投食店在芜湖开业，目前投食店范围已涉及安徽、江苏、浙江、四川等地，单店坪效一般可达2500元/㎡。三只松鼠利用线上线下融合的方式，打造2.5次元城市歇脚地，将消费体验持续升级，未来5年松鼠投食店将增至1000家，为主人带来更加直观的消费感受。2017年，三只松鼠正式铺开松鼠小镇计划，松鼠小镇将被打造成一体化的新型商业综合体，为主人带来全新的消费体验。</span>
                                </p>
                                <p style="margin-top: 0px; margin-bottom: 0px; padding: 0px; color: rgb(102, 102, 102); font-family: 宋体; font-size: 12px; white-space: normal; background-color: rgb(255, 255, 255); line-height: 1.5em;">
                                    <span style="margin: 0px; padding: 0px; line-height: 2; font-family: 微软雅黑, &quot;Microsoft YaHei&quot;; font-size: 14px; color: rgb(89, 89, 89);">三只松鼠积极探索利用“互联网+”推动中国农产品行业变革，有效地将信息化技术、动漫化品牌、数据化品质控制方式相结合，采用全新的商业模式和运营手法，使农产品品质更稳定、物流周转速度更快、产品新鲜度更好、品牌更贴近年轻一代的消费者，并且专注为消费者提供极致的用户体验，截止2017年6月30日，三只松鼠使用会员数已超6000万。</span>
                                </p>
                                <p style="margin-top: 0px; margin-bottom: 0px; padding: 0px; color: rgb(102, 102, 102); font-family: 宋体; font-size: 12px; white-space: normal; background-color: rgb(255, 255, 255); line-height: 1.5em;">
                                    <span style="margin: 0px; padding: 0px; line-height: 2; font-family: 微软雅黑, &quot;Microsoft YaHei&quot;; font-size: 14px; color: rgb(89, 89, 89);">三只松鼠云品控中心通过全平台、全数据、全项检、全批次、全链路的方式，将1200多名研发人员聚集在该平台上参与产品研发，并将生产者与消费者连接在一起，通过用户评价及检测数据对上游生产者进行实时品质倒逼改善。在松鼠新的改革目标中显示，在过去5年的基础上，三只松鼠将努力向生态型企业转型，共享技术、设备等资源，对社会有效资源进行整合，为主人、伙伴、员工创造更为可观的价值。</span>
                                </p>
                                <p style="margin-top: 0px; margin-bottom: 0px; padding: 0px; color: rgb(102, 102, 102); font-family: 宋体; font-size: 12px; white-space: normal; background-color: rgb(255, 255, 255); line-height: 1.5em;">
                                    <span style="margin: 0px; padding: 0px; line-height: 2; font-family: 微软雅黑, &quot;Microsoft YaHei&quot;; font-size: 14px; color: rgb(89, 89, 89);">2012年，三只松鼠上线仅半年就实现销售收入3000余万元，2013年实现销售收入3.26亿元，2014年全年实现销售收入11亿元，2015年实现销售收入25.1亿元，2016年实现销售收入超过50亿元。</span>
                                </p>
                                <p style="margin-top: 0px; margin-bottom: 0px; padding: 0px; color: rgb(102, 102, 102); font-family: 宋体; font-size: 12px; white-space: normal; background-color: rgb(255, 255, 255); line-height: 1.5em;">
                                    <span style="margin: 0px; padding: 0px; line-height: 2; font-family: 微软雅黑, &quot;Microsoft YaHei&quot;; font-size: 14px; color: rgb(89, 89, 89);">资本的力量加速了三只松鼠对电商产业的布局和发展步伐。成立以来，三只松鼠累计获得今日资本、IDG资本2800多万美元投资，目前已在芜湖建设完成超过5万平米的电商运营总部，未来投食店和松鼠小镇的规划也将遍布全球！</span>
                                </p>
                                <p style="line-height: 1.5em;">
                                    <span style="margin: 0px; padding: 0px; line-height: 2; font-family: 微软雅黑, &quot;Microsoft YaHei&quot;; font-size: 14px; color: rgb(89, 89, 89);"><br/></span>
                                </p>
                                <p>
                                    <br/>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        

            <footer class="footer">
                <div class="w1200">
                    <div class="url">
                        友情链接：
                        <a href="http://www.ahbofcom.gov.cn/" target="_blank">安徽省商务厅</a>
                        <a href="http://www.huiec.org/" target="_blank">安徽省网商协会</a>
                        <a href="http://www.ahiib.com/" target="_blank">安徽国际商务职业学院</a>
                    </div>
                    <p>
                        皖ICP备06010770号 版权所有 Copyright © 2018 All Rights Reserve
                    </p>
                </div>
            </footer>

        </section>

        <section class="sidebar">
            <div class="on_line">在线咨询</div>
            <!-- <div class="sale">
                <a href="http://wpa.qq.com/msgrd?v=3&amp;uin=1690123670&amp;site=qq&amp;menu=yes">售前云云</a>
                <a href="http://wpa.qq.com/msgrd?v=3&amp;uin=1690123670&amp;site=qq&amp;menu=yes">售后花花</a>
                <div class="del"></div>
            </div> -->
            <div class="del"></div>
            <div class="side">
                <ul>
                    <li>
                        <a>
                            <img src="http://img.xyunhui.com/img_01_side_1.png">
                            <span>咨询热线</span>
                        </a>
                        <div class="con pho">0551-69113762</div>
                    </li>
                    <li>
                        <a href="javascript:void(0)" onclick="hz6d_is_exist('setIsinvited()%3Bwindow.open(#liyc#https%3A%2F%2Fwww16.53kf.com%2FwebCompany.php%3Farg%3D10173076%26style%3D1%26language%3Dzh-cn%26charset%3DGBK%26kflist%3Doff%26kf%3D%26zdkf_type%3D1%26lnk_overflow%3D0%26referer%3Dfile%253A%252F%252F%252FD%253A%252F%2525E6%252596%2525B0%2525E4%2525BA%252591%2525E6%252599%252596%252F%2525E5%2525AE%252589%2525E5%2525BE%2525BD%2525E7%25259C%252581%2525E5%252595%252586%2525E5%25258A%2525A1%2525E5%25258E%252585%252Findex.html%26keyword%3D%26tfrom%3D1%26tpl%3Dcrystal_blue%26uid%3Dbad2e64a81f5117d18177d6cd2fcff37%26is_group%3D%26is_group%3D#liyc#%2C%20#liyc#_blank#liyc#%2C%20#liyc#height%3D600%2Cwidth%3D800%2Ctop%3D50%2Cleft%3D200%2Cstatus%3Dyes%2Ctoolbar%3Dno%2Cmenubar%3Dno%2Cresizable%3Dyes%2Cscrollbars%3Dno%2Clocation%3Dno%2Ctitlebar%3Dno#liyc#)');">
                            <img src="http://img.xyunhui.com/img_01_side_2.png">
                            <span>在线客服</span>
                        </a>
                    </li>
                    <li>
                        <a>
                            <img src="http://img.xyunhui.com/img_01_side_3.png">
                            <span>微信咨询</span>
                        </a>
                        <div class="con wx">
                            <img src="images/images/ewm.png" width="100%" height="100%;">
                        </div>
                    </li>
                </ul>
                <div class="revert"></div>
            </div>
        </section><section class="user_login">
            <div class="popup login">
                <div class="login_cont">
                    <div class="tit">用户登录</div>
                    <div class="con">
                        <div class="list list_1">
                            <input type="text" placeholder="输入用户名或手机号">
                        </div>
                        <div class="list list_2">
                            <input type="text" placeholder="请输入密码">
                        </div>
                        <div class="list yzm list_3">
                            <input type="text" placeholder="请输入图片验证码">
                            <div class="operation">
                                <img src="images/login_11.png" width="100%" height="100%">
                            </div>
                        </div>
                        <div class="remember clr">
                            <div class="pass on fl">记住密码</div>
                            <a href="#" class="fr">忘记密码</a>
                        </div>
                        <div class="btn">登录</div>
                        <div class="new">新用户账号<a>注册</a></div>
                    </div>
                </div>
                <div class="login_back">
                    <div class="tit">找回密码</div>
                    <div class="con con_1">
                        <div class="list list_4">
                            <input type="text" placeholder="输入手机号">
                        </div>
                        <div class="list yzm list_6">
                            <input type="text" placeholder="输入短信验证码">
                            <div class="operation">
                                <div class="obtain">获取验证码</div>
                                <div class="already hide">已发送(<em>60</em>)s</div>
                            </div>
                        </div>
                        <div class="btn">确定</div>
                    </div>
                    <div class="con con_2">
                        <div class="list list_2">
                            <input type="text" placeholder="输入新密码">
                        </div>
                        <div class="list list_8">
                            <input type="text" placeholder="再次输入新密码">
                        </div>
                        <div class="btn">确定</div>
                    </div>
                    <div class="con con_3">
                        <h2>密码修改成功！</h2>
                        <div class="btn">登录</div>
                        <div class="btn">返回</div>
                    </div>
                </div>
                <div class="del"></div>
            </div>
            <div class="popup register">
                <div class="tit clr">
                    <div class="tit_list on">企业注册</div>
                    <div class="tit_list">个人注册</div>
                </div>
                <div class="con">
                    <div class="cons_list">
                        <div class="con_registe">
                            <div class="list list_1">
                                <input type="text" placeholder="请输入公司名称">
                            </div>
                            <div class="list list_4">
                                <input type="text" placeholder="请输入手机号">
                            </div>
                            <div class="list yzm list_5">
                                <input type="text" placeholder="请输入图片验证码">
                                <div class="operation">
                                    <img src="images/login_11.png" width="100%" height="100%">
                                </div>
                            </div>
                            <div class="list yzm list_6">
                                <input type="text" placeholder="请输入短信验证码">
                                <div class="operation">
                                    <div class="obtain">获取验证码</div>
                                    <div class="already hide">已发送(<em>60</em>)s</div>
                                </div>
                            </div>
                            <div class="list list_7">
                                <input type="text" placeholder="请输入密码">
                            </div>
                            <!-- <div class="list list_8">
                                <input type="text" placeholder="请再次输入密码">
                            </div> -->
                            <div class="btn">注册</div>
                            <div class="new">已有账号，立即<a>登录</a></div>
                        </div>
                        <div class="con_registe">
                            <div class="list list_4">
                                <input type="text" placeholder="请输入手机号">
                            </div>
                            <div class="list yzm list_5">
                                <input type="text" placeholder="请输入图片验证码">
                                <div class="operation">
                                    <img src="images/login_11.png" width="100%" height="100%">
                                </div>
                            </div>
                            <div class="list yzm list_6">
                                <input type="text" placeholder="请输入短信验证码">
                                <div class="operation">
                                    <div class="obtain">获取验证码</div>
                                    <div class="already hide">已发送(<em>60</em>)s</div>
                                </div>
                            </div>
                            <div class="list list_7">
                                <input type="text" placeholder="请输入密码">
                            </div>
                            <!-- <div class="list list_8">
                                <input type="text" placeholder="请再次输入密码">
                            </div> -->
                            <div class="btn">注册</div>
                            <div class="new">已有账号，立即<a>登录</a></div>
                        </div>
                    </div>
                    <div class="complete">
                        <h2>恭喜您账号注册成功！</h2>
                        <div class="btn">继续完善资料</div>
                        <div class="btn">返回</div>
                    </div>
                </div>
                <div class="del"></div>
            </div>
        </section>

        
            
     
        <script src="scripts/jquery-1.8.3.min.js"></script>
        <script src="scripts/jquery.SuperSlide.2.1.1.js"></script>
        <script src="scripts/TouchSlide.1.1.js"></script>
        <script src="scripts/fastclick.js"></script>
        <script src="scripts/common.js"></script>
        <script type="text/javascript">
            $(function(){
                $(".details_tab .list").click(function(){
                    var index = $(this).index();
                    $(this).addClass("on").siblings(".list").removeClass("on");
                    $(".content_list .content").eq(index).show().siblings(".content").hide();
                }).eq(0).trigger('click');
            });
        </script>
    </body>
</html>





