<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta http-equiv="Expires" content="-1">
<meta http-equiv="Cache-Control" content="no-cache">
<meta http-equiv="Pragma" content="no-cache">
<meta charset="utf-8">
<title>安徽省电子商务公共服务平台</title>
<meta name="keywords" content="安徽省电子商务公共服务平台">
<meta name="description" content="安徽省电子商务公共服务平台">
<link href="css/style.css" rel="stylesheet"/>
<link rel="shortcut icon" type="image/x-icon" href="favicon.ico"/>
<!--[if lte IE 9]>
<script src="scripts/html5shiv.min.js"></script>
<![endif]-->
</head>
    <body>
        
        <section class="body">

            <header class="header">
                <div class="w1200 clr">
                    <a href="index.html" class="logo clr">
                        <img src="images/logo.png" width="auto" height="100%" alt="logo" class="fl">
                        <div class="text">
                            <h2>安徽省电子商务公共服务平台</h2>
                            <p>ANHUI PROVINCE-COMMERCE PUBLIC SERVICE CENTER</p>
                        </div>
                    </a>
                    <div class="menu">
                        <i></i>
                        <i></i>
                        <i></i>
                    </div>
                    <div class="nav clr">
                        <div class="nav_list nav_index">
                            <a href="index.html" class="nav_a">首页</a>
                        </div>
                        <div class="nav_list">
                            <a href="index.html?page=1" class="nav_a">示范创建</a>
                            <div class="nav_list_con">
                                <a href="service_centre.html">电商公共服务中心</a>
                                <a href="industrial_park.html">电商产业园区</a>
                                <a href="training_base.html">电商示范企业</a>
                            </div>
                        </div>
                        <div class="nav_list">
                            <a href="index.html?page=2" class="nav_a on">电商服务</a>
                            <div class="nav_list_con">
                                <a href="service_list.html">金融服务</a>
                                <a href="service_list_1.html">电商代运营</a>
                                <a href="service_list_2.html">营销推广</a>
                                <a href="service_list_3.html">设计摄影</a>
                                <a href="service_list_4.html">物流服务</a>
                                <a href="service_list_5.html">IT互联网服务</a>
                            </div>
                        </div>
                        <div class="nav_list">
                            <a href="index.html?page=3" class="nav_a">电商优选</a>
                            <div class="nav_list_con">
                                <a href="recommend_list.html">电商企业</a>
                                <a href="commodity_list.html">商品展示</a>
                            </div>
                        </div>
                        <div class="nav_list">
                            <a href="index.html?page=4" class="nav_a">人才服务</a>
                            <div class="nav_list_con">
                                <a href="information_list.html">人才信息</a>
                                <a href="enterprise_list.html">企业招聘</a>
                                <a href="personnel_list.html">人才政策</a>
                            </div>
                        </div>
                        <div class="nav_list">
                            <a href="index.html?page=5" class="nav_a">课程培训</a>
                            <div class="nav_list_con">
                                <a href="curriculum_list.html">精品课程</a>
                                <a href="expert_list.html">专家智库</a>
                                <a href="mechanism_list.html">电商培训机构</a>
                            </div>
                        </div>
                    </div>
                    <div class="show_search">
                        <div class="cont">
                            <input type="text" placeholder="请输入搜索内容" />
                            <i></i>
                        </div>
                    </div>
                    <div class="search clr">
                        <a href="javascript:void(0)" class="url"></a>
                        <a href="javascript:void(0)" class="login">登录</a><em>|</em><a href="javascript:void(0)" class="register">注册</a>
                    </div>
                </div>
            </header>

            <div class="list_wrap">
                <div class="w1200 clr">
                    <div class="crumbs">
                        当前位置：<a href="index.html">首页</a> &gt; <a href="service.html">电商服务</a> &gt; 金融服务
                    </div>
                    <div class="details_brief service_brief clr">
                        <div class="details_brief_left clr">
                            <div class="img fl">
                                <img src="images/images/dsfw_03.jpg" width="100%" height="100%">
                            </div>
                            <div class="text">
                                <h2>个人经营性贷款</h2>
                                <p>价格： <i class="cff3">面谈</i></p>
                                <p>服务机构：<i class="c58b">安徽省中小企业融资服务股份有限公司</i></p>
                                <p>服务方式：电话服务,上门服务,网络服务</p>
                                <p>服务对象： 微型企业,小型企业,中型企业,大型企业,个体工商户</p>
                                <p>服务类别：融资担保</p>
                                <p>服务范围：合肥市</p>
                                <p>联系方式：18656231596</p>
                            </div>
                        </div>
                        <div class="details_brief_right">
                            <div class="title">机构信息</div>
                            <div class="brief_list">
                                <div class="list clr">
                                    <div class="fl name">机构名称：</div>
                                    <div class="text c3">安徽省中小企业中小企业融资服务股份有限公司</div>
                                </div>
                                <div class="list clr">
                                    <div class="fl name">机构性质：</div>
                                    <div class="text">企业</div>
                                </div>
                                <div class="list clr">
                                    <div class="fl name">所属行业：</div>
                                    <div class="text">金融</div>
                                </div>
                                <div class="list clr">
                                    <div class="fl name">所在地址：</div>
                                    <div class="text">安徽省合肥市新韶东路467号中小企业服务大楼2楼</div>
                                </div>
                                <div class="list clr">
                                    <div class="fl name">公司网址：</div>
                                    <div class="text"><a href="https://www.hnrzcs.com" target="_blank">www.hnrzcs.com</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="details_cont">
                        <div class="details_tab clr">
                            <div class="list on">服务详情</div>
                            
                        </div>
                        <div class="content_list">
                            <div class="content">
                                <p style="line-height: 1.75em;">
                                    <span style="font-family: 微软雅黑, &quot;Microsoft YaHei&quot;; font-size: 14px; color: rgb(89, 89, 89);">服务介绍</span>
                                </p>
                                <p style="line-height: 1.75em;">
                                    <span style="font-family: 微软雅黑, &quot;Microsoft YaHei&quot;; font-size: 14px; color: rgb(89, 89, 89);">1、导入产业链整合式新三板上市服务模式，实现先融资后挂牌，确保企业股权融资到位；</span>
                                </p>
                                <p style="line-height: 1.75em;">
                                    <span style="font-family: 微软雅黑, &quot;Microsoft YaHei&quot;; font-size: 14px; color: rgb(89, 89, 89);">2、协助企业构建并购式增长与产融结合发展战略（融资-并购-挂牌-融资-并购-IPO）；</span>
                                </p>
                                <p style="line-height: 1.75em;">
                                    <span style="font-family: 微软雅黑, &quot;Microsoft YaHei&quot;; font-size: 14px; color: rgb(89, 89, 89);">3、协助企业优化升级战略定位与商业模式，加强资本顶层设计，提升企业持续经营能力，产业运营是资本运营的根本；</span>
                                </p>
                                <p style="line-height: 1.75em;">
                                    <span style="font-family: 微软雅黑, &quot;Microsoft YaHei&quot;; font-size: 14px; color: rgb(89, 89, 89);">4、组建顶尖级上市辅导、咨询、投行等领域资深专家团队，把脉问诊；</span>
                                </p>
                                <p style="line-height: 1.75em;">
                                    <span style="font-family: 微软雅黑, &quot;Microsoft YaHei&quot;; font-size: 14px; color: rgb(89, 89, 89);">5、协助拟挂牌企业进行融资路演，并积极引进战略投资者；</span>
                                </p>
                                <p style="line-height: 1.75em;">
                                    <span style="font-family: 微软雅黑, &quot;Microsoft YaHei&quot;; font-size: 14px; color: rgb(89, 89, 89);">6、企业挂牌后持续服务（融资、做市、并购、市值、IPO），伴随企业资本运作全过程，与客户共同成长。</span>
                                </p>
                                <p style="line-height: 1.75em;">
                                    <span style="font-family: 微软雅黑, &quot;Microsoft YaHei&quot;; font-size: 14px; color: rgb(89, 89, 89);">服务流程</span>
                                </p>
                                <p style="line-height: 1.75em;">
                                    <span style="font-family: 微软雅黑, &quot;Microsoft YaHei&quot;; font-size: 14px; color: rgb(89, 89, 89);">咨询-合同-定金-执行-结束-后续服务</span>
                                </p>
                                <p>
                                    <br/>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        

            <footer class="footer">
                <div class="w1200">
                    <div class="url">
                        友情链接：
                        <a href="http://www.ahbofcom.gov.cn/" target="_blank">安徽省商务厅</a>
                        <a href="http://www.huiec.org/" target="_blank">安徽省网商协会</a>
                        <a href="http://www.ahiib.com/" target="_blank">安徽国际商务职业学院</a>
                    </div>
                    <p>
                        皖ICP备06010770号 版权所有 Copyright © 2018 All Rights Reserve
                    </p>
                </div>
            </footer>

        </section>

        <section class="sidebar">
            <div class="on_line">在线咨询</div>
            <!-- <div class="sale">
                <a href="http://wpa.qq.com/msgrd?v=3&amp;uin=1690123670&amp;site=qq&amp;menu=yes">售前云云</a>
                <a href="http://wpa.qq.com/msgrd?v=3&amp;uin=1690123670&amp;site=qq&amp;menu=yes">售后花花</a>
                <div class="del"></div>
            </div> -->
            <div class="del"></div>
            <div class="side">
                <ul>
                    <li>
                        <a>
                            <img src="http://img.xyunhui.com/img_01_side_1.png">
                            <span>咨询热线</span>
                        </a>
                        <div class="con pho">0551-69113762</div>
                    </li>
                    <li>
                        <a href="javascript:void(0)" onclick="hz6d_is_exist('setIsinvited()%3Bwindow.open(#liyc#https%3A%2F%2Fwww16.53kf.com%2FwebCompany.php%3Farg%3D10173076%26style%3D1%26language%3Dzh-cn%26charset%3DGBK%26kflist%3Doff%26kf%3D%26zdkf_type%3D1%26lnk_overflow%3D0%26referer%3Dfile%253A%252F%252F%252FD%253A%252F%2525E6%252596%2525B0%2525E4%2525BA%252591%2525E6%252599%252596%252F%2525E5%2525AE%252589%2525E5%2525BE%2525BD%2525E7%25259C%252581%2525E5%252595%252586%2525E5%25258A%2525A1%2525E5%25258E%252585%252Findex.html%26keyword%3D%26tfrom%3D1%26tpl%3Dcrystal_blue%26uid%3Dbad2e64a81f5117d18177d6cd2fcff37%26is_group%3D%26is_group%3D#liyc#%2C%20#liyc#_blank#liyc#%2C%20#liyc#height%3D600%2Cwidth%3D800%2Ctop%3D50%2Cleft%3D200%2Cstatus%3Dyes%2Ctoolbar%3Dno%2Cmenubar%3Dno%2Cresizable%3Dyes%2Cscrollbars%3Dno%2Clocation%3Dno%2Ctitlebar%3Dno#liyc#)');">
                            <img src="http://img.xyunhui.com/img_01_side_2.png">
                            <span>在线客服</span>
                        </a>
                    </li>
                    <li>
                        <a>
                            <img src="http://img.xyunhui.com/img_01_side_3.png">
                            <span>微信咨询</span>
                        </a>
                        <div class="con wx">
                            <img src="images/images/ewm.png" width="100%" height="100%;">
                        </div>
                    </li>
                </ul>
                <div class="revert"></div>
            </div>
        </section><section class="user_login">
            <div class="popup login">
                <div class="login_cont">
                    <div class="tit">用户登录</div>
                    <div class="con">
                        <div class="list list_1">
                            <input type="text" placeholder="输入用户名或手机号">
                        </div>
                        <div class="list list_2">
                            <input type="text" placeholder="请输入密码">
                        </div>
                        <div class="list yzm list_3">
                            <input type="text" placeholder="请输入图片验证码">
                            <div class="operation">
                                <img src="images/login_11.png" width="100%" height="100%">
                            </div>
                        </div>
                        <div class="remember clr">
                            <div class="pass on fl">记住密码</div>
                            <a href="#" class="fr">忘记密码</a>
                        </div>
                        <div class="btn">登录</div>
                        <div class="new">新用户账号<a>注册</a></div>
                    </div>
                </div>
                <div class="login_back">
                    <div class="tit">找回密码</div>
                    <div class="con con_1">
                        <div class="list list_4">
                            <input type="text" placeholder="输入手机号">
                        </div>
                        <div class="list yzm list_6">
                            <input type="text" placeholder="输入短信验证码">
                            <div class="operation">
                                <div class="obtain">获取验证码</div>
                                <div class="already hide">已发送(<em>60</em>)s</div>
                            </div>
                        </div>
                        <div class="btn">确定</div>
                    </div>
                    <div class="con con_2">
                        <div class="list list_2">
                            <input type="text" placeholder="输入新密码">
                        </div>
                        <div class="list list_8">
                            <input type="text" placeholder="再次输入新密码">
                        </div>
                        <div class="btn">确定</div>
                    </div>
                    <div class="con con_3">
                        <h2>密码修改成功！</h2>
                        <div class="btn">登录</div>
                        <div class="btn">返回</div>
                    </div>
                </div>
                <div class="del"></div>
            </div>
            <div class="popup register">
                <div class="tit clr">
                    <div class="tit_list on">企业注册</div>
                    <div class="tit_list">个人注册</div>
                </div>
                <div class="con">
                    <div class="cons_list">
                        <div class="con_registe">
                            <div class="list list_1">
                                <input type="text" placeholder="请输入公司名称">
                            </div>
                            <div class="list list_4">
                                <input type="text" placeholder="请输入手机号">
                            </div>
                            <div class="list yzm list_5">
                                <input type="text" placeholder="请输入图片验证码">
                                <div class="operation">
                                    <img src="images/login_11.png" width="100%" height="100%">
                                </div>
                            </div>
                            <div class="list yzm list_6">
                                <input type="text" placeholder="请输入短信验证码">
                                <div class="operation">
                                    <div class="obtain">获取验证码</div>
                                    <div class="already hide">已发送(<em>60</em>)s</div>
                                </div>
                            </div>
                            <div class="list list_7">
                                <input type="text" placeholder="请输入密码">
                            </div>
                            <!-- <div class="list list_8">
                                <input type="text" placeholder="请再次输入密码">
                            </div> -->
                            <div class="btn">注册</div>
                            <div class="new">已有账号，立即<a>登录</a></div>
                        </div>
                        <div class="con_registe">
                            <div class="list list_4">
                                <input type="text" placeholder="请输入手机号">
                            </div>
                            <div class="list yzm list_5">
                                <input type="text" placeholder="请输入图片验证码">
                                <div class="operation">
                                    <img src="images/login_11.png" width="100%" height="100%">
                                </div>
                            </div>
                            <div class="list yzm list_6">
                                <input type="text" placeholder="请输入短信验证码">
                                <div class="operation">
                                    <div class="obtain">获取验证码</div>
                                    <div class="already hide">已发送(<em>60</em>)s</div>
                                </div>
                            </div>
                            <div class="list list_7">
                                <input type="text" placeholder="请输入密码">
                            </div>
                            <!-- <div class="list list_8">
                                <input type="text" placeholder="请再次输入密码">
                            </div> -->
                            <div class="btn">注册</div>
                            <div class="new">已有账号，立即<a>登录</a></div>
                        </div>
                    </div>
                    <div class="complete">
                        <h2>恭喜您账号注册成功！</h2>
                        <div class="btn">继续完善资料</div>
                        <div class="btn">返回</div>
                    </div>
                </div>
                <div class="del"></div>
            </div>
        </section>

        
            
     
        <script src="scripts/jquery-1.8.3.min.js"></script>
        <script src="scripts/jquery.SuperSlide.2.1.1.js"></script>
        <script src="scripts/TouchSlide.1.1.js"></script>
        <script src="scripts/fastclick.js"></script>
        <script src="scripts/common.js"></script>
        <script type="text/javascript">
            $(function(){
                $(".details_tab .list").click(function(){
                    var index = $(this).index();
                    $(this).addClass("on").siblings(".list").removeClass("on");
                    $(".content_list .content").eq(index).show().siblings(".content").hide();
                }).eq(0).trigger('click');
            });
        </script>
    </body>
</html>





